{% extends "base.html" %}
{% load static %}
{% block page_content %}

{% if word_list %}
    <table style="width:100%">
        <tr>
            <th><p>Word:</p></th>
            <th><p>Generated:</p></th>
            <th><p>Likes:</p></th>
            <th><p>Dislikes:</p></th>
        </tr>
        {% for word in word_list %}
            <tr>
                <td><p>{{ word.generated_word }}</p></td>
                <td><p>{{ word.published }}</p></td>
                <td><p>{{ word.vote_up }}</p></td>
                <td><p>{{ word.vote_down }}</p></td>
            </tr>
        {% endfor %}
    </table>
{% else %}
    <p>No words are generated yet.</p>
{% endif %}
<a href="{% url 'generate' %}"
                   class="btn btn-primary">
                    Generate!
                </a>
{% endblock %}